@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600;800&display=swap');
  

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    position: sticky;
    z-index: 100;
    top: 0;
    background: #ffffff;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.logo img {
    padding-top: 10px;
    cursor: pointer;
    width: 150px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 4px 13px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

a.active,a:hover {
    color: rgb(226, 27, 76);
    transition: .5s;
}

a.active {
    background: rgb(226, 27, 76);
    color: #ffffff;
    height: 10px;
}

.check-btn {
    display: none;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

/* section 1 */
.container {
    background: url(assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.container-banner {
    height: 100%;
    color: #ffffff;
}

.container-banner-upper,
.container-banner-lower {
    display: grid;
    width: 100%;
    height: 50%;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 0;
}

@keyframes animation {
    20.0%  {color:rgb(255, 241, 245)};
}

.container-banner-lower {
    padding-bottom: 90px;
    transform: scaleX(2);
    font-weight: 800;
    color: rgb(226, 27, 76);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    animation-name: animation;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;    
    animation-play-state: running;
}

.container-banner-upper {
    padding-top: 90px;
    
}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 30px;
        padding-right: 2px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width: 732px) {
    .check-btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 360px;
        background: rgb(216, 21, 76);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        padding: 20px 0px;
        line-height: 30px;
        transition: all .5s;
        width: 100%;
        margin: 0;
    }

    nav ul li a {
        font-size: 17px;
        color: #ffffff;
    }

    a:hover,a.active {
        background: none;
        color: #ffffff;
        height: 100px;
    }

    nav ul li:hover {
        background-color: rgba(211, 211, 211, 0.2);
        padding: 25px 0px 25px;
        color: #990808;
    }

    #check:checked ~ ul {
        left: 0;
    }

}